<div class="row">
  <div class="col-sm-6">
    <h1 style="font-size:60px;">All Stylists</h1>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/clients" role="button" class="btn btn-info" style="float: right; margin-top: 7px">All Clients</a>
    </div>
  </div>
</div>

<ul>
<% @all_stylists.each() do |stylist| %>
    <li><a href="/stylists/<%= stylist.id()%>"><%= stylist.name() %></li>
    <% end %>
</ul>
