<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/clients" role="button" class="btn btn-info" style="float: right; margin-top: 7px">All Clients</a>
    </div>
  </div>
</div>
<br><br>

<div class="row">
<div class="col-sm-6">
  <h1 style="font-size:40px;">All Stylists</h1>
  <ul>
  <% if @all_stylists.length()>0 %>
  <% @all_stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id()%>"><%= stylist.name() %></a></li>
      <% end %>
    <%else%>
    <li><%="No stylists yet" %></li>
    <%end%>
  </ul>
</div>
<div class="col-sm-6">
  <h2>Add a stylist</h2>
  <form action="/stylists" method="post">
  <div class="form-group">
    <label for="stylist_name">New Stylist Name</label>
    <input id="stylist_name" name="stylist_name" type="text" class="form-control" placeholder="Molly Shannon">
  </div>

  <button type="submit" class="btn btn-success">Add Stylist</button>
  </form>
</div>

</div>
