<div class="row">
  <div class="col-sm-10">
    <h1 style="font-size:30px;">You changed the name to <a href="/clients/<%= @client.id()%>"><%= @client.name()%> </a></h1>
    <h1 style="font-size:15px; margin-top:5px;">Click on name to go back to client</h1>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style=" margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/stylists" role="button" class="btn btn-warning" style=" margin-top: 7px">All Stylists</a>
    </div>
    <div class="row">
      <a href="/clients" role="button" class="btn btn-info" style=" margin-top: 7px">All Clients</a>
    </div>
  </div>
</div>
